h1 {
    display: flex;
    justify-content: center;
}

#task-container {
    display: flex;
    justify-content: center;
}


button {
    padding: 5px 10px;
    margin-left: 10px;
}

body {
    padding: 20px;
    background-color: brown;
    text-align: center;
}