h1 {
    display: flex;
    justify-content: center;
    color: darkslateblue;
}

#task-container {
    display: flex;
    justify-content: center;
}

body {
    padding: 20px;
    background-image: url(https://img.freepik.com/free-vector/flat-abstract-doodle-background_23-2149315781.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
}